{% extends "base.html" %}
{% block title %}Login - xploitPickl | Insecure Django{% endblock %}
{% block body %}

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Hey there!</h1>
                                        <h2>Welcome to our blog</h2>
                                        <p>Enter your name to get in.</p>
                                    </div>
                                    <form class="user" id="loginForm" method="post">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="first_name" name="first_name"
                                                placeholder="First Name" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                                id="last_name" name="last_name" placeholder="Last Name" autocomplete="off">
                                        </div>
                                        {% csrf_token %}
                                        <a onclick="document.getElementById('loginForm').submit()" class="btn btn-primary btn-user btn-block">
                                            Get in
                                        </a>
                                    </form>
                                    <hr>

                                    <div class="text-center">
                                       <a class="small" href="/">Startpage</a> | <a class="small" href="/xploitpickl/">xploitPickl</a> | <a class="small" href="/xploitSSRF/">xploitSSRF</a>
                                    </div>
                                    <div class="text-center">
                                        By <a href="https://pavanw3b.com">pavanw3b</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
{% endblock %}