{% extends 'base.html' %}

{% block title %}{{ title }} - xploitAuthZ{% endblock %}

{% block body %}
<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-5">
                <h1 class="h3 text-gray-800 mb-4">{{ title }}</h1>

                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="{% url 'todo_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock %}